# WordPress gitignore

# OS junk files
[Tt]humbs.db
*.DS_Store

# IntelliJ project files
.idea
*.iml
out
gen

# wp-themes
twenty*

# wp-config
wp-config.php

# wp-content
/index.php

# node modules
**/node_modules

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip